- page_title "作业"

.top-area
  - build_path_proc = ->(scope) { project_jobs_path(@project, scope: scope) }
  = render "shared/builds/tabs", build_path_proc: build_path_proc, all_builds: @all_builds, scope: @scope

  .nav-controls
    - if can?(current_user, :update_build, @project)
      - unless @repository.gitlab_ci_yml
        = link_to '开始使用流水线', help_page_path('ci/quick_start/README'), class: 'btn btn-info'

      = link_to project_ci_lint_path(@project), class: 'btn btn-default' do
        %span CI lint

.content-list.builds-content-list
  = render "table", builds: @builds, project: @project
