- if markup?(@blob.name)
  .file-content.md.md-file
    = markup(@blob.name, @content)
- else
  .diff-file
    .diff-content
      - unless @diff_lines.empty?
        %table.text-file.code.js-syntax-highlight
          - @diff_lines.each do |line|
            %tr.line_holder{ class: line.type }
              - if line.type == "match"
                %td.old_line.diff-line-num.match= "..."
                %td.new_line.diff-line-num.match= "..."
                %td.line_content.match= line.text
              - else
                %td.old_line.diff-line-num{ class: line.type }
                %td.new_line.diff-line-num{ class: line.type }
                %td.line_content{ class: line.type }= diff_line_content(line.text)
      - else
        .nothing-here-block 没有修改
